<!-- <p>todo-list works!</p>
<ul *ngFor="let todo of todoList">
    // | date is pipe to formate date
<li *ngIf="todo.title !== 'Todo One'">{{todo.title}} {{todo.date | date}}</li>
</ul> -->
<div class="card" *ngIf="viewList">
    <div class="card-content">
        <span class="card-title">ToDo List</span>
        <ul class="list-group" *ngFor="let todo of todoService.todoList">

            <app-todo [todoInput]="todo"></app-todo>

        </ul>
        <p class="center-align">
            <a class="btn-floating center waves-effect waves-light" routerLink="/add" routerLinkActive="text-danger"><i class="material-icons">add</i></a>
        </p>
    </div>
</div>

<div class="card" *ngIf="!viewList">
    <div class="card-content">
        <span class="card-title">ToDo List</span>
        <ul class="list-group" *ngFor="let todo of todoService.fav">

            <app-todo [todoInput]="todo"></app-todo>

        </ul>
    </div>
</div>