<li class="list-group-item" [ngClass]="toggleClass()">
    <div class="row" *ngIf="!todoInput.isArchived">
        <div class="col s10">
            <div class="form-check d-inline">
                <label [class.strike]="todoInput.isCompleted">
                    <input type="checkbox" class = "form-check-input" id="complete" (change)="onChange(todoInput)" [disabled]="todoInput.isCompleted">
                    <span class="form-check-label lead" [style.textDecoration]="todoInput.isCompleted ? 'line-through': ''">{{todoInput.title}}</span>
                </label>
            </div>
            <span style="padding-left: 35px;">{{todoInput.date | date}}</span>
        </div>

        <div class="col s2">
            <a class="btn-floating waves-effect waves-light" (click)="deleteTodo(todoInput)" *ngIf="!todoInput.isCompleted">
                <i class="material-icons red darken-2" >delete</i>
            </a>
            <a class="btn-floating waves-effect waves-light" (click)="deleteTodo(todoInput)" *ngIf="todoInput.isCompleted">
                <i class="material-icons green darken-2">archive</i>
            </a>
        </div>
    </div>
</li>