<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Track-a-day</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="nav-item nav-link" routerLink="/list" routerLinkActive="text-danger">Home</a></li>
      <li><a class="nav-item nav-link" routerLink="/analysis" routerLinkActive="text-danger">Analytics</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col s4">
    <app-start-stop-session></app-start-stop-session>
  </div>

  <div class="col s8">
    <router-outlet></router-outlet>
  </div>
</div>