/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
// @import '~bootswatch/dist/yeti/bootstrap.css';
// @import '~font-awesome/css/font-awesome.css';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import '~materialize-css/dist/css/materialize.min.css';
// html,
// body {
//     height: 100%;
// }

// body {
//     background: #66b2ff;
//     font-family: Lato;
//     margin: 0;
//   }