<div class="card">
    <div class="card-content">
        <span class="card-title">Add ToDo item</span>
        <form #addTodo="ngForm" (submit)="onSubmit()">
            <div class="form-group">
                <input type="text" name="todo" class="form-control" placeholder="Add Todo . . ." [(ngModel)]="todo" required>
            </div>
            <button class="btn" [disabled]="addTodo.invalid"> ADD </button>
            <button class="btn" style="margin-left:8px" routerLink="/list" routerLinkActive="text-danger"> BACK </button>
        </form>
    </div>
</div>